/node_modules
/public/5dm/
/public/hot
/public/storage
/public/comic
/public/img
/public/css
/public/danmu
/public/fonts
/public/images
/public/js
/public/lib
/public/mobile
/public/upload
/plus/
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
wp-login.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env