.mind{color:#999; margin-left:15px; padding-top:10px;}
#icon { float:right;margin-top:5px; margin-right:10px;}
#tao-0 {display:inline-block;background: url(tb.png) 0px -22px no-repeat;height: 17px; width:55px;}
#tao-1 {display:inline-block;height: 17px; width:55px;background: url(tb.png) no-repeat;}

.article{overflow:hidden;margin:0;padding:15px;background-color:#fff;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.3);-moz-box-shadow:0 1px 3px rgba(0,0,0,.3);box-shadow:0 1px 3px rgba(0,0,0,.3)}
.article p { font-size:16px; line-height:40px;}
.article p img {display: inherit;margin:0 auto 10px;border-radius:0 0 300px 0;}
.article .articleinfo{border-bottom:1px solid #eee; margin-bottom:15px; }
.article .articleinfo span{ line-height:40px; color:#999;}

.article .articlefoot{border-bottom:1px solid #eee; margin-bottom:15px;}
.article .articlefoot span{ line-height:40px; color:#999;}
.article .articlefoot a { color:#666666; line-height:40px; margin-left:10px; font-size:16px;}
.article .articlefoot a:hover{ color:#FF0000;}
.article .bdsharebuttonbox{ float:right; margin-top:9px;filter:alpha(opacity=50);opacity:0.5;}

.shopfoot{ background: #FF6600;}
.newfoot{ background: #FF0000;}
.btn-group{margin:8px 8px 0 0;}
.dropdown-tongji{position:absolute;top:100%;right:0;z-index:1000;float:left;display:none;margin:2px 0 0;padding:5px 0;min-width:90px;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;background-color:#fff;background-clip:padding-box;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);list-style:none;text-align:left;font-size:14px;-webkit-background-clip:padding-box}
.dropdown-tongji.pull-right{right:0;left:auto}
.dropdown-tongji .divider{overflow:hidden;margin:9px 0;height:1px;background-color:#e5e5e5}
.dropdown-tongji>li{ text-align:center}
.dropdown-tongji>li>a{clear:both;display:block;padding:3px 15px;color:#333;white-space:nowrap;font-weight:400;line-height:1.42857143}
.dropdown-tongji>li>a:focus,.dropdown-tongji>li>a:hover{background-color:#f5f5f5;color:#262626;text-decoration:none}
.dropdown-tongji>.active>a,.dropdown-tongji>.active>a:focus,.dropdown-tongji>.active>a:hover{outline:0;background-color:#0b4f9e;color:#fff;text-decoration:none}
.dropdown-tongji>.disabled>a,.dropdown-tongji>.disabled>a:focus,.dropdown-tongji>.disabled>a:hover{color:#777}
.dropdown-tongji>.disabled>a:focus,.dropdown-tongji>.disabled>a:hover{background-color:transparent;background-image:none;text-decoration:none;cursor:not-allowed;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.open>.dropdown-tongji{display:block}

.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000; display:none;margin:4px 0 0;padding:5px 0;min-width:200px;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:8px;background-clip:padding-box;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);list-style:none;text-align:left;-webkit-background-clip:padding-box;}
.dropdown-menu>li{float:left;text-align:center;width:50%; border-left:1px solid #EEEEEB;margin:5px 0 5px;}
.dropdown-menu>li img { width:16px; height:16px; margin-top:-3px;}

#dedebody{margin:10px 0;padding:10px 20px;background:#FFF;text-indent:2em;line-height:30px}
.clear{clear:both}
#header_title{color:#c00}
.navbar-header img{margin-top:5px;height:40px}
.row-dibu{margin:0 auto}
.row-dibu li{float:left;display:block}
.row li { list-style-type:none; float:left; width:25%;}
#bottom20{margin-bottom:20px}

.titleh3{ text-align:center; height:40px; line-height:40px; font-size:24px; background:#0b4f9e; width:200px; margin:25px auto 20px;  border-radius:5px 5px 0 0; color:#fff;}
.copyright {
	display: block;
	content: "";
	background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#0b4f9e), to(#efefef));
	background-image: -webkit-radial-gradient(circle, #0b4f9e, #efefef);
	background-image: -moz-radial-gradient(circle, #0b4f9e, #efefef);
	background-image: radial-gradient(circle, #0b4f9e, #efefef);
	background-repeat: no-repeat;
	height:5px;
	width:1160px;
	margin:50px auto -65px;
	overflow: hidden;
	background:#0b4f9e\9;
	margin:40px auto -45px\9;

	filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
    opacity: 0.5;
}
.titleh_list{ text-align:center; height:40px; line-height:40px; font-size:22px; background:#0b4f9e; width:300px; margin:10px auto; color:#fff; border-radius:5px 5px 0 0; overflow:hidden;}
.copyright_list {
	display: block;
	content: "";
	background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#0b4f9e), to(#efefef));
	background-image: -webkit-radial-gradient(circle, #0b4f9e, #efefef);
	background-image: -moz-radial-gradient(circle, #0b4f9e, #efefef);
	background-image: radial-gradient(circle, #0b4f9e, #efefef);
	background-repeat: no-repeat;
	height:5px;
	width:1160px;
	margin:50px auto -50px;
	overflow: hidden;
	background:#0b4f9e\9;

	filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
    opacity: 0.5;
}

.col-xs-foot,.col-xs-foot2,.col-xs-go{float:left;position:relative;padding-right:15px;padding-left:15px;min-height:1px}
.overlay .col-xs-foot a{display:block;color:#fff;font-weight:300;font-size:24px;line-height:2;-webkit-transition:opacity .2s;transition:opacity .2s}
.overlay .col-xs-foot{margin:5px 0}
.overlay .col-xs-foot2 a{display:block;color:#ccc;font-weight:300;font-size:24px;line-height:2;-webkit-transition:opacity .2s;transition:opacity .2s}
.overlay .col-xs-foot2{margin:10px 0}

.overlay .col-xs-go a{display:block;color:#fff;font-weight:300;font-size:24px;line-height:2;-webkit-transition:opacity .2s;transition:opacity .2s}
.overlay .col-xs-go{margin:10px 0}
.col-xs-foot{width:50%}
.col-xs-go{width:50%}
.col-xs-foot2{width:25%}
.overlay{position:fixed;top:0;left:0;z-index:99999999999999999;width:100%;height:100%;background:rgba(47,50,56,.9)}
.color1{background:rgba(0,0,0,.9)}
.color2{background:rgba(26,188,156,.9)}
.color3{background:rgba(44,62,80,.9)}
.color4{background:rgba(211,84,0,.9)}
.overlay .col-xs-6 a{display:block;color:#fff;font-weight:300;font-size:24px;line-height:2;-webkit-transition:opacity .2s;transition:opacity .2s}
.overlay .col-xs-6{margin:10px 0}

.overlay .col-xs-go a{display:block;color:#fff;font-weight:300;font-size:24px;line-height:2;-webkit-transition:opacity .2s;transition:opacity .2s}
.overlay .col-xs-go{margin:10px 0}
.overlay-close .glyphicon-remove{color:#fff;font-size:24px}
.overlay-contentscale{visibility:hidden;-webkit-transition:-webkit-transform .5s,visibility 0s .5s;transition:transform .5s,visibility 0s .5s;-webkit-transform:translateY(100%);transform:translateY(100%)}
.overlay-contentscale.open{visibility:visible;-webkit-transition:-webkit-transform .5s;transition:transform .5s;-webkit-transform:translateY(0);transform:translateY(0)}

.btn-foot{ position:absolute; right:15px; z-index:1000;}

a,a:focus{text-decoration:none!important}
body{padding-top:50px;background-color:#EEEEEB;font-family:"Helvetica Neue",Helvetica,Arial,STHeiti-Light,STHeiti-Medium,"Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu}
.mt10{margin-top:10px}
.mb10{margin-bottom:10px}
.mtb10{margin-top:10px;margin-bottom:10px}
.mt20{margin-top:20px}
.mb20{margin-bottom:20px}
.mtb20{margin-top:20px;margin-bottom:20px}
.mt30{margin-top:30px}
.mb30{margin-bottom:30px}
.mtb30{margin-top:30px;margin-bottom:30px}
.mt40{margin-top:40px}
.mb40{margin-bottom:40px}
.mtb40{margin-top:40px;margin-bottom:40px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pb10{padding-bottom:10px}
.ptb10{padding-top:10px;padding-bottom:10px}
.pt20{padding-top:20px}
.pb20{padding-bottom:20px}
.ptb20{padding-top:20px;padding-bottom:20px}
.pt30{padding-top:30px}
.pb30{padding-bottom:30px}
.ptb30{padding-top:30px;padding-bottom:30px}
.pt40{padding-top:40px}
.pb40{padding-bottom:40px}
.ptb40{padding-top:40px;padding-bottom:40px}

.pagination{ margin-left:5px;}
.pagination a{color:#666!important}
.pagination .active a{border-color:#0b4f9e!important;background-color:#0b4f9e!important;color:#FFF!important}
.top-bar .navbar-brand{margin-left:0!important}
.footer{padding:20px 0 20px 20px; margin-top:10px;background:#1D1A18;color:#F6F2E6;}
.footer a,.footer a:focus{color:#F6F2E6}
.footer-bar{position:fixed;right:15px;bottom:50%;left:15px;z-index:500;display:inline;opacity:.6;-moz-opacity:.6;-khtml-opacity:.6;filter:alpha(opacity=60)}
.footer-bar-placeholder{height:70px}
.footer-bar .btn{padding:10px 16px;border-radius:6px;line-height:1.3333333}
.flipx{-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH()}

.shop-info{display:block;overflow:hidden;padding:0 10px; margin-top:5px;height:22px;color:#333;text-align:center;word-wrap:break-word;}
.shop-info span { line-height:24px;}
.newlist-info{display:block;overflow:hidden;padding:0 5px;height:70px;color:#333;text-align:center;word-wrap:break-word;line-height:22px}
.you-info{display:block;overflow:hidden;height:49px;color:#333;text-align:center;word-wrap:break-word;line-height:22px}

.xinyu-info{ margin:0 auto;}
.xinyu-info img{ height:16px;display:inherit;margin:5px auto;}

#search-loading{position:fixed;top:50%;left:50%;z-index:1000;display:none;margin-top:-100px;margin-left:-100px;width:200px;height:100px;opacity:.95}
.search-loading-box{width:200px;height:100px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;background-color:#333;-webkit-box-shadow:3px 3px 3px rgba(0,0,0,.4);-moz-box-shadow:3px 3px 3px rgba(0,0,0,.4);box-shadow:3px 3px 3px rgba(0,0,0,.4);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#464646', endColorstr='#333333')}
.search-loading-text{color:#FFF;text-decoration:none;font-weight:700;font-size:16px;font-family:Arial}
.search-header{padding:5px; margin:10px 0;background-color:#FFF;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.3)}
.bn728-93 img{width:93%;height:auto;max-width:728px}
.bn728-100 img{width:100%;height:auto;max-width:728px}
.bn300 img{width:300px;height:auto}
.bn960{padding-top:5px}
.bn960 img{width:100%;height:auto;max-width:960px}
.ad-list{margin:10px 0}
.photo-frame .m1000giri{margin-left:-50%}
.photo-frame .mpacopacomama{margin-left:-20%}
.photo-frame .mcaribbeancom{margin-left:-30%}
.photo-frame .m1pondo{height:206px}
.photo-frame .mtokyohot{height:188px}
.photo-frame .mroselip{margin-left:-20%}
.item a:visited span{color:#999}
.genre-box a:visited{color:#999}
.alert-common{margin:10px 20px 0 20px}
.container .alert-success{margin-top:10px}
.alert-page{margin:40px 20px}
.alert-page h4{font-weight:700}
.error-page{padding:40px 0;text-align:center;font-size:24px}
.top20-margin{margin-top:20px}
.mh50{max-height:50px}
.mh20{ margin:20px;}
.mht10{ margin-top:10px;}

.pleft{padding:10px 0 20px 25px}
.btn-mini-new{margin:1px 0;padding:0 6px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;font-size:12px}
.mfp-bg{position:fixed;top:0;left:0;z-index:1042;overflow:hidden;width:100%;height:100%;background:#0b0b0b;opacity:.8;filter:alpha(opacity=80)}
.mfp-wrap{position:fixed;top:0;left:0;z-index:1043;width:100%;height:100%;outline:0!important;-webkit-backface-visibility:hidden}
.mfp-container{position:absolute;top:0;left:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 8px;width:100%;height:100%;text-align:center}
.mfp-container:before{display:inline-block;height:100%;content:'';vertical-align:middle}
.mfp-align-top .mfp-container:before{display:none}
.mfp-content{position:relative;z-index:1045;display:inline-block;margin:0 auto;vertical-align:middle;text-align:left}
.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}
.mfp-ajax-cur{cursor:progress}
.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}
.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}
.mfp-auto-cursor .mfp-content{cursor:auto}
.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;user-select:none}
.mfp-loading.mfp-figure{display:none}
.mfp-hide{display:none!important}
.mfp-preloader{position:absolute;top:50%;right:8px;left:8px;z-index:1044;margin-top:-.8em;width:auto;color:#ccc;text-align:center}
.mfp-preloader a{color:#ccc}
.mfp-preloader a:hover{color:#fff}
.mfp-s-ready .mfp-preloader{display:none}
.mfp-s-error .mfp-content{display:none}
button.mfp-arrow,button.mfp-close{z-index:1046;display:block;overflow:visible;padding:0;outline:0;border:0;background:0 0;-webkit-box-shadow:none;box-shadow:none;cursor:pointer;-webkit-appearance:none}
button::-moz-focus-inner{padding:0;border:0}
.mfp-close{position:absolute;top:0;right:0;padding:0 0 18px 10px;width:44px;height:44px;color:#fff;text-align:center;text-decoration:none;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace;line-height:44px;opacity:.65}
.mfp-close:focus,.mfp-close:hover{opacity:1}
.mfp-close:active{top:1px}
.mfp-close-btn-in .mfp-close{color:#333}
.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{right:-6px;padding-right:6px;width:100%;color:#fff;text-align:right}
.mfp-counter{position:absolute;top:0;right:0;color:#ccc;font-size:12px;line-height:18px}
.mfp-arrow{position:absolute;top:50%;margin:0;margin-top:-55px;padding:0;width:90px;height:110px;opacity:.65;-webkit-tap-highlight-color:transparent}
.mfp-arrow:active{margin-top:-54px}
.mfp-arrow:focus,.mfp-arrow:hover{opacity:1}
.mfp-arrow .mfp-a,.mfp-arrow .mfp-b,.mfp-arrow:after,.mfp-arrow:before{position:absolute;top:0;left:0;display:block;margin-top:35px;margin-left:35px;width:0;height:0;border:medium inset transparent;content:''}
.mfp-arrow .mfp-a,.mfp-arrow:after{top:8px;border-top-width:13px;border-bottom-width:13px}
.mfp-arrow .mfp-b,.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px}
.mfp-arrow-left{left:0}
.mfp-arrow-left .mfp-a,.mfp-arrow-left:after{margin-left:31px;border-right:17px solid #fff}
.mfp-arrow-left .mfp-b,.mfp-arrow-left:before{margin-left:25px;border-right:27px solid #3f3f3f}
.mfp-arrow-right{right:0}
.mfp-arrow-right .mfp-a,.mfp-arrow-right:after{margin-left:39px;border-left:17px solid #fff}
.mfp-arrow-right .mfp-b,.mfp-arrow-right:before{border-left:27px solid #3f3f3f}
.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}
.mfp-iframe-holder .mfp-content{width:100%;max-width:900px;line-height:0}
.mfp-iframe-holder .mfp-close{top:-40px}
.mfp-iframe-scaler{overflow:hidden;padding-top:56.25%;width:100%;height:0}
.mfp-iframe-scaler iframe{position:absolute;top:0;left:0;display:block;width:100%;height:100%;background:#000;box-shadow:0 0 8px rgba(0,0,0,.6)}
img.mfp-img{display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 auto;padding:40px 0 40px;width:auto;height:auto;max-width:100%;line-height:0}
.mfp-figure{line-height:0}
.mfp-figure:after{position:absolute;top:40px;right:0;bottom:40px;left:0;z-index:-1;display:block;width:auto;height:auto;background:#444;box-shadow:0 0 8px rgba(0,0,0,.6);content:''}
.mfp-figure small{display:block;color:#bdbdbd;font-size:12px;line-height:14px}
.mfp-bottom-bar{position:absolute;top:100%;left:0;margin-top:-36px;width:100%;cursor:auto}
.mfp-title{padding-right:36px;color:#f3f3f3;text-align:left;word-wrap:break-word;line-height:18px}
.mfp-image-holder .mfp-content{max-width:100%}
.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}

.mfp-ie7 .mfp-img{padding:0}
.mfp-ie7 .mfp-bottom-bar{left:50%;margin-top:5px;margin-left:-300px;padding-bottom:5px;width:600px}
.mfp-ie7 .mfp-container{padding:0}
.mfp-ie7 .mfp-content{padding-top:44px}
.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}
.movie{overflow:hidden;margin:0;padding:15px 0;background-color:#fff;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.3);-moz-box-shadow:0 1px 3px rgba(0,0,0,.3);box-shadow:0 1px 3px rgba(0,0,0,.3)}

.row .tubiao img{ width:80px;}
.row .xinyu img{ height:16px;}

.info p{font-size:14px;line-height:20px;word-break:break-all}
.info li {list-style:none; margin:5px 0;font-size:14px;line-height:20px; height:22px; overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.info li a { color:#fff; background:#0b4f9e; padding:5px 10px; border-radius:4px;}
.info li span { color:#fff; background:#DAA520; padding:5px 10px; border-radius:4px;}
.info .yuanjia{ color:#999999;}
.info .youhuijia{ color:#c00; font-size:50px; font-family:微软雅黑,Arial; margin-top:30px; font-weight:bold;}
.info .youhuijia c { font-size:20px}
.info .genre{margin-right:10px;white-space:nowrap}
.info .header{font-weight:700;font-size:14px}
.info .zhuying{overflow:hidden;height:40px}

.jiage-info{display:block;overflow:hidden;padding:0 10px;height:40px;color:#333;word-wrap:break-word;line-height:40px}
.jiage-info b{color:#0b4f9e;font-size:20px}
.jiage-info s{color:#999;font-size:12px}

.jiage-right{display:block;overflow:hidden;padding:0 10px;height:40px;color:#333;word-wrap:break-word;line-height:40px}
.jiage-right b{color:red;font-size:14px}
.jiage-right s{color:#999;font-size:12px}

.title-info{display:block;overflow:hidden;margin-bottom:10px;padding:0 10px;height:48px;color:#333;text-align:center;word-wrap:break-word;line-height:22px}
.title-info:hover{color:#0b4f9e}

.title-new{display:block;overflow:hidden;margin-bottom:10px;padding:10px;height:78px;color:#333;text-align:center;word-wrap:break-word;line-height:22px;font-size:18px;}
.title-new:hover{color:#0b4f9e;}

.container h4{margin-left:20px;width:100%;height:30px;line-height:30px}
.container h3{ color:#000;}
#shoptop{margin-top:20px}
.star-box ul{margin:0;padding:0}
.star-box-common li{float:left;width:120px;list-style-type:none;text-align:center}
.star-box-up li{margin:0;background-color:#fff}
.star-box-down li{margin:7px 15px;background-color:#EEEEEB;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.3);-moz-box-shadow:0 1px 3px rgba(0,0,0,.3);box-shadow:0 1px 3px rgba(0,0,0,.3)}
.star-box img{margin:10px;width:100px;height:100px}
.star-box .star-name{padding:7px 0 7px 0;border-top:1px solid #F2F2F2;background-color:#FAFAFA}
.idol-box{position:fixed;z-index:2;display:none;padding:0;width:140px;border:10px solid rgba(0,0,0,.3);-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background-color:#fff;background-clip:padding-box;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.3);-moz-box-shadow:0 5px 10px rgba(0,0,0,.3);box-shadow:0 5px 10px rgba(0,0,0,.3);-moz-background-clip:padding;-webkit-background-clip:padding}
#star-div{display:none}
#mag-submit{display:none}
.label{position:absolute;top:-2px;margin-left:5px}
.left-urad1,.left-urad2{position:relative;top:2px;left:-3px;display:inline-block;overflow:hidden;width:0;font-weight:400;font-size:13px}
h4 .glyphicon-envelope{font-weight:400;font-size:12px}

.navbar-default{background-image:linear-gradient(to bottom,#EEEEEB 0,#FFF 100%); z-index:100;}
.ad-001{margin:10px 0;text-align:center}

.item{float:left;overflow:hidden;margin:5px;padding:0;width:222px;border:none;border-radius:0;background-color:#fff;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.3);-moz-box-shadow:0 1px 3px rgba(0,0,0,.3);box-shadow:0 1px 3px rgba(0,0,0,.3)}
.item:hover{background:bisque}
.item .photo-frame{overflow:hidden;}
.item img{width:222px;height:222px;}

.shop{ float:left;overflow:hidden;margin:5px 0 0;padding:10px 0;width:25%;border:none;border-radius:0;background-color:#fff;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.3);-moz-box-shadow:0 1px 3px rgba(0,0,0,.3);box-shadow:0 1px 3px rgba(0,0,0,.3)}
.shop span{ color:#999;}
.shop:hover{background: #C6E2FF;}
.shop .photo-frame{overflow:hidden; margin:5px;}
.shop .photo-frame img{width:96px;height:96px}

.newlist{ float:left;overflow:hidden;margin:5px;padding:0;width:112px;border:none; background:#f2f2f2;}
.newlist:hover{background:bisque}
.newlist .photo-frame{overflow:hidden;}
.newlist img{width:112px;height:112px}

.right-new{float:left;overflow:hidden;padding:0;width:50%;border:none;border-radius:0;background-color:#fff; border-top:5px solid #FF0000;}
.right-new:hover{background:bisque}
.right-new .photo-frame{overflow:hidden; margin:5px;}
.right-new img{ width:100%;}

.right-new-list{ background:#f2f2f2; padding:10px;}
.nav li a{ color:#666;}
.tujiimg img{float:left;width:50%; max-height:400px;}
.container{ padding-left:5px; padding-right:5px;}
@media screen and (min-width:1200px){
.shop-list{display:none}
.list{ width:1160px; margin:0 auto;}
}
@media screen and (max-width:1024px){
.col-xs-go{padding-right:2px;padding-left:2px;}
.list{ width:1023px;}
.container{ width:1023px;}
.item{float:left;overflow:hidden;margin:5px;padding:0;width:194.6px;border:none;border-radius:0;background-color:#fff;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.3);-moz-box-shadow:0 1px 3px rgba(0,0,0,.3);box-shadow:0 1px 3px rgba(0,0,0,.3)}
.item:hover{background:bisque}
.item .photo-frame{overflow:hidden;}
.item img{width:194.6px; height:194.6px;}

.shop{ float:left;overflow:hidden;margin:5px 0 0;padding:10px 0;width:25%;border:none;border-radius:0;background-color:#fff;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.3);-moz-box-shadow:0 1px 3px rgba(0,0,0,.3);box-shadow:0 1px 3px rgba(0,0,0,.3)}

.shop .photo-frame{overflow:hidden; margin:5px;}
.shop .photo-frame img{width:107.875px;height:107.875px}

.newlist{ float:left;overflow:hidden;margin:5px;padding:0;width:148px;border:none;}
.newlist:hover{background:bisque}
.newlist .photo-frame{overflow:hidden;}
.newlist img{width:148px;height:148px}

.right-new{float:left;overflow:hidden;padding:0;width:50%;border:none;border-radius:0;background-color:#fff; border-top:5px solid #FF0000;}
.right-new:hover{background:bisque}
.right-new .photo-frame{overflow:hidden; margin:5px;}
.right-new img{ width:100%;}

}
@media screen and (min-width:768px) and (max-width:1023px){
.row li { list-style-type:none; float:left; width:50%;}
.xinyu-info{ margin:0 auto;}
.xinyu-info img{ height:14px;display:inherit;margin:5px auto;}

.shop-info{ height:48px;}
.container{ width:768px;}
.nav>li>a{ padding-left:10px; padding-right:10px;}
.btn-head{ position:absolute; right:0;}

.list{ width:768px; margin:0 auto;}
.item{float:left;overflow:hidden;margin:5px;padding:0;width:143.6px;border:none;border-radius:0;background-color:#fff;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.3);-moz-box-shadow:0 1px 3px rgba(0,0,0,.3);box-shadow:0 1px 3px rgba(0,0,0,.3)}
.item:hover{background:bisque}
.item .photo-frame{overflow:hidden;}
.item img{width:143.6px; height:143.6px;}

.shop{ float:left;overflow:hidden;margin:5px 0 0;padding:10px 0;width:50%;border:none;border-radius:0;background-color:#fff;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.3);-moz-box-shadow:0 1px 3px rgba(0,0,0,.3);box-shadow:0 1px 3px rgba(0,0,0,.3)}

.shop .photo-frame{overflow:hidden;margin:5px;}
.shop .photo-frame img{width:75.875px;height:75.875px}

.newlist{ float:left;overflow:hidden;margin:5px;padding:0;width:106px;border:none;}
.newlist:hover{background:bisque}
.newlist .photo-frame{overflow:hidden;}
.newlist img{width:106px;height:106px}

.right-new{float:left;overflow:hidden;padding:0;width:25%;border:none;border-radius:0;background-color:#fff; border-top:5px solid #FF0000;}
.right-new:hover{background:bisque}
.right-new .photo-frame{overflow:hidden; margin:5px;}
.right-new img{ width:100%;}.
}
@media screen and (max-width:767px){
.row li { list-style-type:none; float:left; width:50%;}
.xinyu-info{ margin:0 auto;}
.xinyu-info img{ height:14px;display:inherit;margin:5px auto;}

.shop-info{ height:48px;}
.list{ width: auto; margin:0 2%;}
.container{ width: auto; margin:10px auto 0;}
.item{float:left;overflow:hidden;margin:5px;padding:0;width:143.6px;border:none;border-radius:0;background-color:#fff;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.3);-moz-box-shadow:0 1px 3px rgba(0,0,0,.3);box-shadow:0 1px 3px rgba(0,0,0,.3)}
.item:hover{background:bisque}
.item .photo-frame{overflow:hidden;}
.item img{width:143.6px;height:143.6px;}

.shop{ float:left;overflow:hidden;margin:5px 0 0;padding:10px 0;width:50%;border:none;border-radius:0;background-color:#fff;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.3);-moz-box-shadow:0 1px 3px rgba(0,0,0,.3);box-shadow:0 1px 3px rgba(0,0,0,.3)}

.shop .photo-frame{overflow:hidden;margin:5px;}
.shop .photo-frame img{width:75.875px;height:75.875px}

.newlist{ float:left;overflow:hidden;margin:5px;padding:0;width:106px;border:none;}
.newlist:hover{background:bisque}
.newlist .photo-frame{overflow:hidden;}
.newlist img{width:106px;height:106px}

.right-new{float:left;overflow:hidden;padding:0;width:25%;border:none;border-radius:0;background-color:#fff; border-top:5px solid #FF0000;}
.right-new:hover{background:bisque}
.right-new .photo-frame{overflow:hidden; margin:5px;}
.right-new img{ width:100%;}

.navbar-header{ padding-bottom:5px;background-color:#0b4f9e; }
.navbar-default{background-color:#EEEEEB;background-image:none}
#avatar-waterfall,#related-waterfall,#sample-waterfall{text-align:center}
}
@media screen and (max-width:480px){
.list{ width: auto; margin:0 2%;}

.item .photo-frame{margin:0}
.item{width:48%; margin:1%;}
.item .photo-frame{height:auto;}
.item img{width:100%;}


.shop{ float:left;overflow:hidden;margin:5px 0 0;padding:10px 0;width:50%;border:none;border-radius:0;background-color:#fff;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.3);-moz-box-shadow:0 1px 3px rgba(0,0,0,.3);box-shadow:0 1px 3px rgba(0,0,0,.3)}
.shop .photo-frame{height:auto;}
.shop .photo-frame img{width:100%;}

.newlist .photo-frame{margin:0}
.newlist{width:48%; margin:1%;}
.newlist .photo-frame{height:auto;}
.newlist img{width:100%;}

.right-new{float:left;overflow:hidden;padding:0;width:50%;border:none;border-radius:0;background-color:#fff; border-top:5px solid #FF0000;}
.right-new:hover{background:bisque}
.right-new .photo-frame{overflow:hidden; margin:5px;}
.right-new img{ width:100%;}

.shop-list{margin-top:15px}
.screencap{margin-bottom:15px;padding:0}
.movie{ padding-top:15px;}
.news{ padding-bottom:20px;}

.tujiimg{margin-bottom:15px;padding:0}
}



/*--------------------广告-----------------*/
@media screen and (min-width:1160px){
.ad-1160px{ width:1160px;margin:10px auto;text-align:center;}
.ad-1024px{ display:block;}
.ad-728px{ display:block;}
.ad-480px{ display:none;}
.ad-index {display: inherit;text-align:center; margin:5px 0;}
.ad-index img {width:1160px;}
.ad-index-480px { display:block;}
}
@media screen and (min-width:960px) and (max-width:1159px){
.ad-1160px{ display:block;}
.ad-1024px{ background:#FFFFFF;width:960px;margin:10px auto;text-align:center;}
.ad-728px{ display:block;}
.ad-480px{ display:block;}
.ad-index {display: inherit;text-align:center;margin:5px 0;}
.ad-index img {width:960px;}
.ad-index-480px { display:block;}
}
@media screen and (min-width:728px) and (max-width:959px){
.ad-1160px{ display:block;}
.ad-1024px{ display:block;}
.ad-728px{ background:#FFFFFF;width:728px;margin:10px auto;text-align:center;}
.ad-auto{ background:#FFFFFF;text-align:center;}
.ad-480px{ display:block;}
.ad-index {display: inherit;text-align:center;margin:5px 0;}
.ad-index img {width:728px;}
.ad-index-480px { display:block;}
.info .zhuying{overflow:hidden;height:100%;}
.info p img { margin-top:15px;}
}
@media screen and (max-width:727px){
.adxiazai{ font-size:14px;}
.ad-1160px{ display:none;}
.ad-1024px{ display:none;}
.ad-728px{ display:none;}
.ad-480px{ margin:10px 0 10px;}
.ad-auto{ display:none;}
.ad-index {display:none;}
.ad-index-480px {display: inherit;text-align:center;margin-top:5px;}
.ad-index-480px img {width:100%;}
.info .zhuying{overflow:hidden;height:100%;}
.info p img { margin-top:15px;}
}

@media screen and (max-width:480px){
.footer-bar{ bottom:50%;}
.ad-top50{ margin-top:50px;}
}


@media screen and (min-width:728px){
.ad-pc{margin:10px auto;text-align:center;max-width:1160px;}
.ad-wap{display:none;}
.ad-tong{margin:10px auto 10px;text-align:center;max-width:1160px;}
}
@media screen and (max-width:727px){
.ad-pc{display:none;}
.ad-wap{margin:10px auto 0;text-align:center; background:#fff;}
.ad-tong{margin:15px auto 0;text-align:center;max-width:1160px;}
}

@media screen and (min-width:481px){
.ad-wap-480{display:none;}
}
@media screen and (max-width:480px){
.ad-wap-480{margin:15px auto 0;text-align:center;}
}


/*--------------------其他-----------------*/
@media screen and (max-width:728px){
.article p img { width:100%;}
}
@media screen and (max-height:30.5em){
.overlay nav{height:70%;font-size:34px}
.overlay ul li{min-height:34px}
}
@media screen and (max-width:991px){
.navbar-form{width:220px}
}
@media screen and (min-width:1024px){
.screencap{border-right:1px solid #E1E1E1}
.tujiimg{border-right:1px solid #E1E1E1}
}

.str-over-dot{
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    width: 100%;
}